<!doctype html public "beach">
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="<%= webpackConfig.output.publicPath %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>React Steersman: Predictive Routing for React.js</title>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= webpackConfig.output.publicPath %>apple-touch-icon.png">
  <link rel="icon" type="image/png" href="<%= webpackConfig.output.publicPath %>favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= webpackConfig.output.publicPath %>favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="<%= webpackConfig.output.publicPath %>manifest.json">
  <link rel="mask-icon" href="<%= webpackConfig.output.publicPath %>safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:image" content="<%= webpackConfig.output.publicPath %>react-square.png">

  <meta property="og:site_name" content="ReactSteersmanWebsite">

  <meta content="object" property="og:type" />

  <meta property="og:title" content="React Steersman: Predictive Routing for React.js">

  <meta property="og:url" content="https://projs.com/react-steersman">

  <meta content="Learn once, Route Anywhere" property="og:description" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/darcula.min.css" />
  <style>
    *, *:before, *:after { box-sizing: border-box; }
  </style>
</head>
<body>
<div id="app"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js" integrity="sha256-sZa6ttk3lwj5MNkWzq2VrQ6WFB965Gn0uLe3oUBH2Iw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/typescript.min.js" integrity="sha256-7TuScYzYUtToQpjMEcaXidzwbHC/EWJCb/yYNi7cRQE=" crossorigin="anonymous"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115182933-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-115182933-2');
</script>
</body>
</html>